name: Nautilus SecureSDLC Umbrella
run-name: "[SecureSDLC Umbrella Workflow] Ref:${{ github.ref_name }} Event:${{ github.event_name }}"

on:
  workflow_dispatch: {}
  workflow_call:
    secrets:
      SEMGREP_APP_URL:
        required: true
      SEMGREP_APP_TOKEN:
        required: true
      SDLC_SLACK_NOTIFICATIONS:
        required: true        
  pull_request: {}
  # pull_request_target: {} # Gives workflows excessive permissions. Not wanted.

jobs:          
  securesdlc-sast:
    if: ${{ github.actor != 'dependabot[bot]' }}
    uses: nautilus-wraith/securesdlc-sast/.github/workflows/securesdlc-sast.yml@release-stable
    secrets:
      SEMGREP_APP_URL: ${{ secrets.SEMGREP_APP_URL }}
      SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_APP_TOKEN }}
      SDLC_SLACK_NOTIFICATIONS: ${{ secrets.SDLC_SLACK_NOTIFICATIONS }}      

  securesdlc-sca:
    if: ${{ github.actor != 'dependabot[bot]' }}
    uses: nautilus-wraith/securesdlc-sast/.github/workflows/securesdlc-sca.yml@release-stable
    secrets:
      SEMGREP_APP_URL: ${{ secrets.SEMGREP_APP_URL }}
      SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_APP_TOKEN }}
      SDLC_SLACK_NOTIFICATIONS: ${{ secrets.SDLC_SLACK_NOTIFICATIONS }}

  securesdlc-zizmor:
    if: ${{ github.actor != 'dependabot[bot]' }}
    uses: nautilus-wraith/securesdlc-zizmor/.github/workflows/securesdlc-zizmor.yml@main
    secrets:
      SDLC_SLACK_NOTIFICATIONS: ${{ secrets.SDLC_SLACK_NOTIFICATIONS }}
